@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF5EA;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: 'IBM Plex Mono', monospace;
}

@layer utilities {

  .text-balance {
    text-wrap: balance;
  }

}

.text-hero {
  color: #FFFB47; /* Color del relleno del texto */
  -webkit-text-stroke: 2px black; /* Contorno del texto */
}